extends layout

block content
    include adminLeft
    #page-wrapper
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        h3.panel-title=title
                    .panel-body
                        form(role='form' id="addUser")
                            fieldset
                                input(type='hidden', name='_csrf', value=csrf)
                                p.alert.alert-danger(style='display:none')
                                .form-group
                                    input.form-control(placeholder='请输入员工姓名', name='username', type='text', autofocus='')
                                .form-group
                                    input.form-control(placeholder='请输入员工手机号', name='mobile', type='text', autofocus='')
                                .form-group
                                    input.form-control(placeholder='请输入密码', name='password', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='请再次输入密码', name='password2', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='备注，如员工职位等信息', name='remarks', type='text', value='')
                                .form-group
                                    button.btn.btn-lg.btn-success.btn-block(type='button' onclick='addUser()') 注册
block js
    script(src='/javascripts/user.js')