#wrapper
  // Navigation
  .navbar-deepblue.sidebar(role='navigation')
    .logoBox
      a.navbar-brand(href="/")
        img(src='/slogan.png')
        | 投融资项目管理系统
    .sidebar-nav.navbar-collapse
      ul.nav#side-menu
        li
          a(href='#')
            i.fa.fa-table.fa-fw
            |  模版管理
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/projectModelList') 项目模板列表
            li
              a(href='/formModelList') 表单模板列表
            li
              a(href='/tableModelList') 表格模板列表
        li
          a(href='#')
            i.fa.fa-briefcase.fa-fw
            |  项目管理
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/projectList') 项目列表
            li
              a(href='/createProject') 创建项目
        li
          a(href='#')
            i.fa.fa-user.fa-fw
            |  员工管理
            span.fa.arrow
          ul.nav.nav-second-level
            li
              a(href='/userList') 员工列表
            li
              a(href='/user/add') 新建员工
            li
              a(href='/user/modifyPwd') 修改密码
  nav.navbar.navbar-default.navbar-static-top#topNav(role='navigation', style='margin-bottom: 0')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    ul.nav.navbar-top-links.navbar-right
      li.dropdown
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-user.fa-fw
          | &nbsp;#{username}&nbsp;
          i.fa.fa-caret-down
        ul.dropdown-menu.dropdown-user
          //li
          //  a(href='/user/update')
          //    i.fa.fa-gear.fa-fw
          //    | 编辑
          li.divider
          li
            a(href='/api/logout')
              i.fa.fa-sign-out.fa-fw
              | 退出登录