extends layout

block content
    include adminLeft
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header 创建项目
        .row
            .col-lg-12
                form(role='form' id="createProject")
                    input(type='hidden', name='_csrf', value=csrf)
                    .alert.alert-success(role='alert', style='display:none', id='alert-success')
                        a.alert-link(href='#') 创建项目成功！
                    .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                        a.alert-link(href='#') 创建项目失败，请重试
                    .form-group
                        label 项目名称
                        input.form-control(name='projectName', placeholder='项目名称')
                    .form-group
                        label 项目介绍
                        textarea(class="form-control", name='instruction', placeholder='项目介绍', rows='4')
                    .form-group
                        label(for='projectModelName') 选择项目模版
                        select#projectModelName.form-control(name='projectModel' onchange='selectProjectModel(value)')
                            option(value="") 请选择项目模板
                            each val,index in list
                                option(value=val.id+","+val.title)=val.title
                        input(name='statusName', type='hidden' value='')
                        input(name='statusId', type='hidden' value='')
                        input(name='formModels', type='hidden' value='')
                    button.btn.btn-success(type='button' onclick='createProject()') 提交
block js
    script(src='/javascripts/createProject.js')