extends layout

block content
    include adminLeft
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #preview.modal.fade(tabindex='-1', role='dialog', aria-labelledby='previewLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#previewLabel.modal-title 表单模板预览
                .modal-body
                .modal-footer
                    button.btn.btn-default#cancel-preview(type='button', data-dismiss='modal') 取消
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header 表单模板管理
        .row
            .col-lg-12
                #toolbar
                    a.btn.btn-info(href="/createFormModel", style="margin-right:10px;")
                        span.glyphicon.glyphicon-plus(aria-hidden='true')
                            | 新建
                    button.btn.btn-info(style="margin-right:10px;", onclick='removeMany("FormModel")')
                        span.glyphicon.glyphicon-trash(aria-hidden='true')
                            | 批量删除
                table.table.table-striped.table-bordered.table-hover(data-toggle="table", id="formModelList")
                    thead
                        tr
                            th
                                input(type="checkbox" value="" id="selectAllForm" onclick='checkAll("#selectAllForm")')
                            th 模版名称
                            th 说明
                            th 创建人
                            th 创建时间
                            th 更新人
                            th 更新时间
                            th 操作
                    tbody
                #table-paginator(style="text-align:right")
                    ul#pageLimit
block js
    script(src='/javascripts/utils.js')
    script(src='/javascripts/formModelList.js')