extends layout

block content
    div(class='container')
        div(class="jumbotron")
            h2 #{title}
            p
                a(href='/login') 登录
            p
                a(href='/createProjectModel') 创建项目模版