doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title= title

        block css
            link(href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet')
            link(href='https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.css', rel='stylesheet')
            link(href='https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.min.css', rel='stylesheet')
            link(href='https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
            //link(href='https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css' rel='stylesheet')
            //link(href='https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css' rel='stylesheet')
            link(rel='stylesheet', type='text/css', href='/datatables/media/css/dataTables.bootstrap.css')
            link(href='https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css', rel='stylesheet')
            link(href='/stylesheets/style.css' rel='stylesheet')
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        script(src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js")
        script(src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js")
        <![endif]-->
    body
        block content
    script(src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js")
    script(src='//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src="https://cdn.bootcss.com/metisMenu/2.7.7/metisMenu.min.js")
    script(src="https://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.min.js")
    script(src='/datatables/media/js/jquery.dataTables.js')
    script(src='/datatables/media/js/dataTables.bootstrap.js')
    script(src='/bootstrap-paginator/src/bootstrap-paginator.js')
    script(src='/moment/moment.js')
    //script(src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js")
    //script(src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js")
    script(src="https://cdn.bootcss.com/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js")
    script(src='https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js')
    script(src='https://unpkg.com/wangeditor/release/wangEditor.min.js')
    script(src="/javascripts/utils.js")
    if process.env.NODE_ENV === 'development'
        script(src='http://localhost:35729/livereload.js')
    block js