extends layout

block content
    .container
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        h3.panel-title=title
                    .panel-body
                        form(role='form' id='login')
                            fieldset
                                p.alert.alert-danger(style='display:none')
                                input(type='hidden', name='_csrf', value=csrf)
                                .form-group
                                    input.form-control(placeholder='请输入用户名', name='username', type='text', autofocus='' value=username)
                                .form-group
                                    input.form-control(placeholder='请输入密码', name='password', type='password', value=password)
                                .checkbox
                                    label
                                        input(name='remember', type='checkbox', checked=remember)
                                        | 记住
                                    span.pull-right 还没帐号？告诉管理员帮你注册
                                .form-group
                                    button.btn.btn-lg.btn-success.btn-block(type='button' onclick='login()') 登录
block js
    script(src='/javascripts/user.js')