extends layout

block content
    include adminLeft
    #page-wrapper
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        h3.panel-title=title
                    .panel-body
                        form(role='form' id="modifyUser")
                            fieldset
                                input(type='hidden', name='_csrf', value=csrf)
                                p.alert.alert-danger(style='display:none')
                                .form-group
                                    input.form-control(placeholder='请输入原密码', name='password', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='请输入密码', name='newPassword', type='password', value='')
                                .form-group
                                    input.form-control(placeholder='请再次输入密码', name='newPassword2', type='password', value='')
                                .form-group
                                    button.btn.btn-lg.btn-success.btn-block(type='button' onclick='modifyPwd()') 修改
block js
    script(src='/javascripts/user.js')