extends layout

block content
    include adminLeft
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #preview.modal.fade(tabindex='-1', role='dialog', aria-labelledby='previewLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#previewLabel.modal-title 查看
                .modal-body
                .modal-footer
                    button.btn.btn-default#cancel-preview(type='button', data-dismiss='modal') 取消
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header 项目管理
        .row
            .col-lg-12
                #toolbar
                    a.btn.btn-info(href="/createProject" style="margin-right:10px;")
                        span.glyphicon.glyphicon-plus(aria-hidden='true')
                            | 新建
                    button.btn.btn-info(style="margin-right:10px;", onclick='removeMany("Project")')
                        span.glyphicon.glyphicon-trash(aria-hidden='true')
                            | 批量删除
                table.table.table-striped.table-bordered.table-hover(data-toggle="table", id="projectList")
                    thead
                        tr
                            th
                                input(type="checkbox" value="" id="selectAllProject" onclick='checkAll("#selectAllProject")')
                            th 项目名称
                            th 项目介绍
                            th 创建人
                            th 创建时间
                            th 更新人
                            th 更新时间
                            th 当前流程
                            th 操作
                    tbody
                        //each l in list
                        //    tr
                        //        td
                        //            input(type="checkbox" value=l._id)
                        //        td= l.projectName
                        //        td= l.instruction
                        //        td= l.createUserName
                        //        td= l.createAt
                        //        td= l.updateUserName
                        //        td= l.updateAt
                        //        td= l.statusName
                        //        td
                        //            a.btn.btn-primary(href=`/updateProject?id=${l._id}` style='margin-right:10px;margin-bottom:5px;') 编辑
                        //            //a.btn.btn-info(style='margin-right:10px;margin-bottom:5px;', onclick=`preview('${l._id}','Project')`)  查看
                        //            a.btn.btn-default(style='margin-right:10px;margin-bottom:5px;', onclick=`removeOne(this,'${l._id}','project')`)  删除
                #table-paginator(style="text-align:right")
                    ul#pageLimit
block js
    script(src='/javascripts/projectList.js')