extends layout

block content
    include adminLeft
    #page-wrapper
        .row
            .col-md-4.col-md-offset-4
                .login-panel.panel.panel-default
                    .panel-heading
                        h3.panel-title=title
                    .panel-body
                        form#updateUser(role='form')
                            fieldset
                                input(type='hidden', name='_csrf', value=csrf)
                                p.alert.alert-danger(style='display:none')
                                .form-group
                                    input.form-control(placeholder='请输入员工姓名', name='username', type='text', autofocus='' value=userInfo.username)
                                .form-group
                                    input.form-control(placeholder='请输入员工手机号', name='mobile', type='text', autofocus='' value=userInfo.mobile)
                                .form-group
                                    input.form-control(placeholder='备注，如员工职位等信息', name='remarks', type='text', value=userInfo.remarks)
                                .form-group
                                    button.btn.btn-lg.btn-success.btn-block(type='button' onclick='updateUser()') 修改
block js
    script(src='/javascripts/user.js')