extends layout

block content
    include adminLeft

    #page-wrapper
        .row
            .col-lg-12
                h1.page-header=title
                .alert.alert-success(role='alert', style='display:none', id='alert-success')
                    a.alert-link(href='#') 编辑表单模版成功！
                .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                    a.alert-link(href='#') 编辑表单模版失败，请重试
            .row
                .col-lg-3
                    input(type='hidden', name='_csrf', value=csrf)
                    .panel.panel-default
                        .panel-heading 表单基本信息
                        .panel-body
                            form#updateFormModel
                                .form-group
                                    label.control-label 表单名称
                                    input.form-control(name='formName', placeholder='请填写表单模版名称', value=formModelInfo.formName)
                                .form-group
                                    label.control-label 表单说明
                                    textarea.form-control(name='instruction', placeholder='请填写表单模版说明', rows="4")=formModelInfo.instruction
                    .panel.panel-default
                        .panel-heading 选择字段类型
                        .panel-body#addField
                            each val,index in fieldList
                                div(onclick=`selectField('${val.fieldType}','${val.label}')` data-name=val.fieldType)=val.label
                .col-lg-6
                    .panel.panel-default
                        .panel-heading 表单形式预览
                        .panel-body#formDisplay
                            div.alert.alert-info 设置字段属性请选中对应组件后在右边设置，该列仅作为预览，修改无效
                .col-lg-3
                    .panel.panel-default
                        .panel-heading 字段设置
                        .panel-body#setField
                            div.alert.alert-info 请确保已经选中要设置的组件，并填入相关属性，填写完会自动保存
                            form
                                input(type='hidden', value=formModelInfo.createUserName, name='createUserName')
                                input(type='hidden', value=formModelInfo.createUserId, name='createUserId')
                                input(type='hidden' value=formModelInfo id='formModelInfo')
                                .form-group
                                    label.control-label 展示名称
                                    input.form-control(type='text', name='displayName')
                                //.form-group
                                //    label.control-label 字段名称（建议用英文字母，数据表的真实字段名，如果数据类型是联动类型，该项应该填写联动类型的组名称）
                                //    input.form-control(type='text', name='fieldName')
                                .form-group#placeholderText
                                    label.control-label 输入前默认提示文字
                                    input.form-control(type='text', name='placeholder')
                                .form-group
                                    label.control-label 布局
                                    .radio-group
                                        label.radio-inline
                                            input(type='radio', name='column', value='col-md-12')
                                            |  整行
                                        label.radio-inline
                                            input(type='radio', name='column', value='col-md-4')
                                            |  1/3行
                                        label.radio-inline
                                            input(type='radio', name='column', value='col-md-8')
                                            |  2/3行
                                        label.radio-inline
                                            input(type='radio', name='column', value='col-md-6')
                                            |  1/2行
                                .form-group#isRequired
                                    .checkbox
                                        label
                                            input(type='checkbox', name='isRequired')
                                            | 必填？
                                .form-group#addOption
                                    label.control-label
                                        | 选项
                                    .control-group(style='margin-bottom:10px;' id='optionGroup')
                                    input.btn.btn-default.btn-xs(type='button', value='添加选项' onclick='addOption()')
        button.btn.btn-success(type='submit' onclick='updateFormModel()') 提交

block js
    script(src='/javascripts/formModel.js')
    //script(src='/javascripts/updateFormModel.js')