extends layout

block content
    include adminLeft
    // Modal
    #addModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 请填写流程信息
                .modal-body
                    form(id='status')
                        input(type='hidden', name='_csrf', value=csrf)
                        .form-group
                            label(for='statusOrder') 流程顺序
                            input#statusOrder.form-control(type='number', placeholder='请填写数字，如：1')
                        .form-group
                            label(for='statusName') 流程名称
                            input#statusName.form-control(type='text', placeholder='请填写流程名称')
                        .form-group
                            label(for='statusInfo') 流程说明
                            input#statusInfo.form-control(type='text', placeholder='请填写流程说明')
                        .form-group#formModels
                            label 流程需填写表单
                            each val,index in formList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.formName
                        .form-group#tableModels
                            label 流程需填写表格
                            each val,index in tableModelList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.tableName
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', onclick='addStatus()') 添加

    #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title 请填写流程信息
                .modal-body
                    form(id='statusEdit')
                        input(type='hidden', name='_csrf', value=csrf)
                        .form-group
                            label(for='statusOrder') 流程顺序
                            input#statusOrder2.form-control(type='number', placeholder='请填写数字，如：1')
                        .form-group
                            label(for='statusName') 流程名称
                            input#statusName2.form-control(type='text', placeholder='请填写流程名称')
                        .form-group
                            label(for='statusInfo') 流程说明
                            input#statusInfo2.form-control(type='text', placeholder='请填写流程说明')
                        .form-group#formModels2
                            label 流程需填写表单
                            each val,index in formList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.formName
                        .form-group#tableModels2
                            label 流程需填写表格
                            each val,index in tableModelList
                                .checkbox
                                    label
                                        input(type='checkbox', value=val._id)
                                        span=val.tableName
                .modal-footer
    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header=title
        .row
            .col-lg-12
                .alert.alert-success(role='alert', style='display:none', id='alert-success')
                    a.alert-link(href='#') 编辑项目模版成功！
                .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                    a.alert-link(href='#') 编辑项目模版失败，请重试
                form(role='form' method='post' id="projectModel")
                    input(type='hidden', value=projectModelInfo.createUserName, name='createUserName')
                    input(type='hidden', value=projectModelInfo.createUserId, name='createUserId')
                    input(type='hidden', value=projectModelInfo._id, name='id')
                    input(type='hidden', name='_csrf', value=csrf)
                    .form-group
                        label 模板名称
                        input.form-control(name='title', placeholder='模板名称', value=projectModelInfo.title)
                    .form-group
                        label 模板备注
                        textarea.form-control(name='instruction', placeholder='模板备注', rows="4")=projectModelInfo.instruction
                    .form-group
                        label 流程列表
                        #toolbar
                            button#btn_add.btn.btn-default(type='button', style="margin-right:10px;")
                                span.glyphicon.glyphicon-plus(aria-hidden='true')
                                | 新增
                            //button#btn_delete.btn.btn-default(type='button', onclick='delMore()')
                            //    span.glyphicon.glyphicon-remove(aria-hidden='true')
                            //    | 选择删除
                            input(type='hidden' value=projectModelInfo id='projectModelInfo')
                        table.table.table-striped.table-bordered.table-hover(id="projectModelTable")
                        button.btn.btn-success(type='button', onclick='updateProjectModel()') 提交
block js
    script(src='/javascripts/projectModel.js')