extends layout
block content
    include adminLeft
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #addRow.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title 插入一行数据
                .modal-body
                    form
                .modal-footer
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header=title
        .row
            .col-lg-12
                form#updateProject(role='form')
                    input(type='hidden', name='_csrf', value=csrf)
                    input(type='hidden', name='projectInfo', value=projectInfo)
                    input(type='hidden', name='projectModel', value=projectInfo.projectModel)
                    input(type='hidden', name='modelData', value=projectInfo.modelData)
                    input(type='hidden', name='project', value=projectInfo.project)
                    .alert.alert-success(role='alert', style='display:none', id='alert-success')
                        a.alert-link(href='#') 编辑项目成功！
                    .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                        a.alert-link(href='#') 编辑项目失败，请重试
                    .form-group
                        label 项目名称
                        input.form-control(name='projectName', placeholder='项目名称', value = projectInfo.project.projectName)
                    .form-group
                        label 项目介绍
                        textarea.form-control(name='instruction', placeholder='项目介绍', rows="4")=projectInfo.project.instruction
                    .form-group
                        label 项目模版
                        input.form-control(name='projectModelName', value=projectInfo.project.projectModelName, readonly)
                        input.form-control(name='projectModelId', value=projectInfo.project.projectModelId, type='hidden')
                    .form-group#status(data-status='default')
                        label 项目流程状态
                        button.btn.btn-outline.btn-primary.btn-xs(type='button' style='margin-left:10px;' onclick='editStatus(this)') 编辑
                        input.form-control(name='statusName', value=projectInfo.project.statusName, readonly)
                        input.form-control(name='statusId', value=projectInfo.project.statusId, type='hidden')
                    .form-group
                        label 表单模板
                    #accordion1.panel-group
                        if projectInfo.project.formModels.length <= 0
                            p 暂无表格模版
                        else
                            each val,index in projectInfo.project.formModels
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href=`#${val.id}`, data-toggle='collapse')
                                                | #{val.formName}
                                    .panel-collapse.collapse(id=val.id)
                                        .panel-body
                    .form-group
                        label 表格模板
                    #accordion2.panel-group
                        if projectInfo.project.tableModels.length<=0
                            p 暂无表格模版
                        else
                            each val,index in projectInfo.project.tableModels
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href=`#${val.id}`, data-toggle='collapse')
                                                | #{val.tableName}
                                    .panel-collapse.collapse(id=val.id)
                                        .panel-body
                button.btn.btn-success(type='button' onclick='updateProject()') 提交
block js
    script(src='/javascripts/updateProject.js')