extends layout

block content
    include adminLeft
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title 请填表格信息
                .modal-body
                    form(id='tableItem')
                        input(type='hidden', name='_csrf', value=csrf)
                        .form-group
                            label(for='headerName') 表头名
                            input#headerName.form-control(type='text', placeholder='请填写表头名')
                        //.form-group
                        //    label(for='fieldName') 表头字段名
                        //    input#fieldName.form-control(type='text', placeholder='请填写表头字段名')
                        .form-group
                            label(for='fieldType') 表头值类型
                            select#fieldType.form-control
                                option(value='text') 文本
                                option(value='file') 文件

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary(type='button', onclick='addTable()') 添加

    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消te
                    button.btn.btn-primary#delete(type='button') 确认
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header=title
        .row
            .col-lg-12
                .alert.alert-success(role='alert', style='display:none', id='alert-success')
                    a.alert-link(href='#') 编辑表格模版成功！
                .alert.alert-danger(role='alert', style='display:none', id='alert-danger')
                    a.alert-link(href='#') 编辑表格模版失败，请重试
                form(role='form' method='post' id='tableModel')
                    input(type='hidden', value=tableModelInfo.createUserName, name='createUserName')
                    input(type='hidden', value=tableModelInfo.createUserId, name='createUserId')
                    input(type='hidden', name='_csrf', value=csrf)
                    .form-group
                        label 名称
                        input.form-control(name='tableName', placeholder='表格模板名称', value=tableModelInfo.tableName)
                    .form-group
                        label 备注
                        textarea.form-control(name='instruction', placeholder='表格模板备注/介绍', rows="4")=tableModelInfo.instruction
                    .form-group
                        label 表头字段
                        #toolbar
                            button#btn_add.btn.btn-default(type='button', data-toggle="modal", data-target="#myModal", style="margin-right:10px;")
                                span.glyphicon.glyphicon-plus(aria-hidden='true')
                                | 新增
                            //button#btn_delete.btn.btn-default(type='button', onclick='delMore()')
                            //    span.glyphicon.glyphicon-remove(aria-hidden='true')
                            //    | 选择删除
                            input(type='hidden' value=tableModelInfo id='tableModelInfo')
                        table.table.table-striped.table-bordered.table-hover(id="tableModelTable")
                        button.btn.btn-success(type='button', onclick='updateTableModel()') 提交
block js
    script(src='/javascripts/tableModel.js')