extends layout

block content
    include adminLeft
    // Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#myModalLabel.modal-title 提示
                .modal-body
                    p 确认删除条数据吗？
                .modal-footer
                    button.btn.btn-default#cancel(type='button', data-dismiss='modal') 取消
                    button.btn.btn-primary#delete(type='button') 确认
    #preview.modal.fade(tabindex='-1', role='dialog', aria-labelledby='previewLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4#previewLabel.modal-title 员工信息
                .modal-body
                .modal-footer
                    button.btn.btn-default#cancel-preview(type='button', data-dismiss='modal') 取消
    #page-wrapper
        .row
            .col-lg-12
                h1.page-header=title
        .row
            .col-lg-12
                table.table.table-striped.table-bordered.table-hover(data-toggle="table", id="userList")
                    thead
                        tr
                            th
                                input(type="checkbox" value="" id="selectAllUser" onclick='checkAll("#selectAllUser")')
                            th 员工姓名
                            th 手机号
                            th 备注
                            //th 用户类型
                            th 注册时间
                            th 更新时间
                            th 操作
                    tbody
                #table-paginator(style="text-align:right")
                    ul#pageLimit
block js
    script(src='/javascripts/userList.js')
    script(src='/javascripts/utils.js')
