body {
  background-color: #001529;
}
/*.fixed-table-container {
  height: auto !important;
}

.bootstrap-table {
  margin-bottom: 30px;
}*/
.control-label {
  font-weight: normal;
}
#addField div {
  cursor: pointer;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
#addField div:hover {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
#formDisplay .form-group {
  cursor: pointer;
  padding: 5px;
  overflow: hidden;
}
#formDisplay .form-group.active {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
#setField .input-group {
  margin-bottom: 10px;
}
#toolbar {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.navbar-deepblue {
  background-color: #001529;
}
.sidebar ul li a {
  color: #ccc;
}
.sidebar ul li ul {
  background-color: #000c17;
}
.sidebar ul li a.active {
  background-color: #1890ff;
}
.sidebar ul li {
  border-bottom: none;
}
.logoBox {
  background-color: #002140;
  height: 100px;
  line-height: 120px;
}
.logoBox a.navbar-brand {
  color: #fff;
  height: auto;
}
.logoBox a.navbar-brand img {
  width: 166px;
  margin-bottom: 10px;
}
.sidebar-nav {
  clear: both;
}
#side-menu.nav li a:focus,
#side-menu.nav li a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}
@media (min-width: 768px) {
  #topNav {
    margin-left: 250px;
  }
  .sidebar {
    margin-top: 0;
  }
}
/*#tableList{
  .toolbar{
    margin-bottom:10px;
  }
  table{
    text-align: center;
    margin-bottom:50px;
    th{
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
}*/
.form-alert {
  color: #d7504d;
  margin-top: 10px;
  display: none;
}
table.dataTable {
  margin: 0;
}
.fileName {
  margin-top: 10px;
  width: 80px;
}
.fileDelete {
  margin-left: 20px;
  cursor: pointer;
}
.fileDownload {
  margin-left: 10px;
}
table {
  /*td:last-child{
    text-align:center;
  }*/
}
table td,
table th {
  text-align: center;
}
.pagination > li {
  cursor: pointer;
}
.modal-body {
  max-height: 700px;
  overflow-y: scroll;
}
#updateProject input[type='file'] {
  opacity: 0;
}
#projectModelTable_wrapper table thead th:first-child {
  width: 40px;
}
#projectModelTable_wrapper table thead th:nth-child(2) {
  width: 80px;
}
#projectList thead th:nth-child(3) {
  width: 600px;
}
#projectModelList thead th:nth-child(3) {
  width: 600px;
}
#formModelList thead th:nth-child(3) {
  width: 600px;
}
#tableModelList thead th:nth-child(3) {
  width: 600px;
}
.delete-option {
  cursor: pointer;
}
#isRequired {
  display: none;
}
/*上传图片框*/
.imgBoxAdd,.imgBox{
  width:200px;
  height:200px;
  cursor: pointer;
  float:left;
  margin-bottom:10px;
  margin-right:10px;
}
.imgBoxAdd .panel,.imgBox .panel{
  width:100%;
  height:100%;
}
.imgBoxAdd .panel-body,.imgBox .panel-body{
  width:100%;
  height:160px;
}
.imgBoxAdd .panel-body div,.imgBox .panel-body div{
  width:100%;
  height:100%;
}
.updatepanel {
  border: 1px solid #ccc;
  text-align: center;
}
.updatepanel .addbox {
  vertical-align: middle;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color:#aaabb2;
  font-size: 80px;
  font-weight: 100;
}
.updatepanel input[type='file']{
  width:100%;
  height:100%;
  position: relative;
  top: -200px;
  z-index: 100;
}
.updateimg{
  width: 100%;
  max-height: 100%;
}